/*MENU BAR*/

.mdl-layout.is-upgraded .mdl-layout__tab-panel {
    display: block;
}

#custom-nav-bar .md-button._md-nav-button {
    line-height: 24px;
    margin: 0 0px;
    /*padding: 12px 16px;*/
    padding: 0px;
    -webkit-transition: background-color .35s cubic-bezier(.35,0,.25,1);
    transition: background-color .35s cubic-bezier(.35,0,.25,1)
}

#custom-nav-bar .md-nav-item:first-of-type{
     margin-left: 0px;
    /*margin-left: 8px;*/
}

#custom-nav-bar .md-button {
    <!--/* letter-spacing: .01em; */-->
    letter-spacing: .00em;
    }



    #custom-nav-bar .custom-mdl-layout__tab ._md-nav-button-text{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        overflow: hidden
    }

    #custom-nav-bar .custom-mdl-layout__tab {
        margin: 0;
        border: none;
        /*padding: 0 24px;*/
        padding: 0 20px;
        float: left;
        position: relative;
        display: block;
         -webkit-flex-grow: 0;
         -ms-flex-positive: 0;
        flex-grow: 0;
         -webkit-flex-shrink: 0;
         -ms-flex-negative: 0;
        flex-shrink: 0;
        text-decoration: none;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba(255,255,255,.6);
        overflow: hidden;
    }

    #custom-nav-bar .md-nav-bar {
        /*border-style: solid;*/
        border-width: 0 0 0px;
        height: 64px;
        /*position: relative;*/
        margin-left: 8px;
    }

    #custom-nav-bar .custom-mdl-layout__tab-bar .custom-mdl-layout__tab {
            height: 64px;
            line-height: 64px;
        }


    /*styles.css:41*/
    .custom-mdl-layout__tab-bar {
        padding: 0;
        padding-left: 16px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }

    #custom-nav-bar .mdl-demo .custom-mdl-layout__tab-bar .mdl-layout__tab {
            /*height: 64px;*/
            /*line-height: 64px;*/
    }

    #custom-nav-bar  .md-active .custom-mdl-layout__tab{
      color: rgb(255,255,255);
    }

    #custom-nav-bar  md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
        /* color: rgb(255,64,129); */
        /* background: rgb(255,64,129); */
                   background-color: white;
                    height: 4px;
/*                    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards; */
/*                   animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards; */
            transition: all 1s cubic-bezier(.4,0,1,1) ;
       }

/* end MENU BAR */

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}



.portfolio-max-width {
    /*max-width: 1174px;*/
    max-width: 900px;
    margin: auto;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}


.alert-danger {
    background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}

.alert-warning {
    background-image: -webkit-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
    background-image: -o-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcf8e3),to(#f8efc0));
    background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #f5e79e;
}
.alert-info {
    background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image: -o-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d9edf7),to(#b9def0));
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #9acfea;
}
.alert {
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.md-tooltip {
    /*height: 35px !important;*/
    /*background-color: red !important;*/
    /*color: white !important;*/
    border-radius: 5px;
    font-size: 14px;
    height: auto;
    width: 400px;
    max-width: 400px;
    padding: 8px;
    white-space: initial;
}







