<md-dialog aria-label="Details">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Enter credentials</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close_dialog</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="start start">
                <h6>
                     Credentials for <b>{{elem.domain}} </b>
                </h6>
                <form name="projectForm">
                    <div layout="column">

                        <md-input-container class="md-block" ng-repeat="key in elem.credentials.keysOrder">
                            <label>{{key | capitalize}}</label>
                            <input required name="{{key}}" ng-model="elem.credentials.keyValues[key]" value="{{elem.credentials.keyValues[key]}}">
                        </md-input-container>

                        <!--<md-input-container class="md-block" ng-repeat="(key, value) in elem.credentials.keyValues">-->
                            <!--<label>{{key | capitalize}}</label>-->
                            <!--<input required name="user" ng-model="elem.credentials.keyValues[key]" value="{{value}}">-->
                        <!--</md-input-container>-->



                        <!--<md-input-container class="md-block">-->
                            <!--<label>User</label>-->
                            <!--<input required name="user" ng-model="elem.credentials.keyValues.txtUser">-->
                            <!--&lt;!&ndash;<div ng-messages="projectForm.description.$error">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div ng-message="required">This is required.</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</md-input-container>-->

                        <!--<md-input-container flex="50">-->
                            <!--<label>Password</label>-->
                            <!--<input required name="password" ng-model="elem.credentials.keyValues.txtPassword">-->
                            <!--&lt;!&ndash;<div ng-messages="projectForm.clientName.$error">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div ng-message="required">This is required.</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</md-input-container>-->
                    </div>
                 </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="answer(false)">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" ng-click="answer(true)" md-autofocus>
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>