<div id="feedback" class="alert alert-success alert-dismissible" role="alert" ng-show="submittedOk"
	 xmlns:float="http://www.w3.org/1999/xhtml">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="hideSubmittedOk()">&times;</span></button>
	<strong>Success!</strong> The URLs were submitted. The results will be available in some seconds.</a>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="submittedError">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="hideSubmittedError()">&times;</span></button>
	<strong>Something went wrong!</strong> {{errorMessage ? errorMessage : errorMessageDefault}}
</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" style="display:inline;">Workflow</h3>
				</div>
				<div class="panel-body" style="padding-left:40px" >
					<h3> Working on <b>{{workspace.name}}</b></h3>
					<hr>

					<!--<h4>Keywords-->
					<div>
						<div>
							<div style="float:left">
								<h4>1. Keywords
								</h4>
							</div>
							<div style="float:right">
								<i class="material-icons cursorable" ng-hide="keywords_div_content" ng-click='toggleKeywords(true)'>expand_more</i>
								<i class="material-icons cursorable" ng-show="keywords_div_content" ng-click='toggleKeywords(false)'>expand_less</i>
							</div>
							<div style="clear:both"></div>
							<div>
								<p style="font-style:italic">This keywords will be used as search terms in the main search engines to provide a initial set of URLs.</p>
								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-left:0px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											We would recommend no more than half a dozen each time (you can run it several times with different keywords).
										</li>
										<li>
											Keep in mind that the more keywords you add, the broader returns you’ll receive.
										</li>
										<li>
											Best keywords are specific to the domain, but not too common. Otherwise vague words would lead to vague results.
										</li>
									</ul>
								</p>
							</div>
						</div>
						<!--<a href="" ng-click="navigateToSeed()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>-->
						<div ng-show="keywords_div_content" style="padding-left:20px">
							<div>
								<div style="padding-top: 10px;padding-bottom: 10px;">
									<a href="" ng-click="navigateToSeed()">Edit keywords</a>
								</div>
								<div ng-show="workspace.relevantWords.length>0">
									<h6>Relevant Keywords:</h6>
									<div style=" column-count: 4">
										<ul>
											<li ng-repeat="word in workspace.relevantWords">{{word}}</li>
										</ul>
									</div>
								</div>
								<div ng-show="workspace.irrelevantWords.length>0">
									<h6>Irrelevant Keywords:</h6>
									<div style=" column-count: 4">
										<ul>
											<li ng-repeat="word in workspace.irrelevantWords">{{word}}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>

					<!--<h4>Search URLs </h4>-->
					<div>
						<div>
							<div style="float:left">
								<h4>2. Search URLs </h4>
							</div>
							<div style="float:right">
								<i class="material-icons cursorable" ng-hide="search_url_div_content" ng-click='toggleSearchUrl(true)'>expand_more</i>
								<i class="material-icons cursorable" ng-show="search_url_div_content" ng-click='toggleSearchUrl(false)'>expand_less</i>
							</div>
							<div style="clear:both"></div>
							<div>
								<p style="font-style:italic">You can search with Google and Bing for more URLs relevant to the domain based on the keywords previously defined</p>
								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											Each time you Fetch URLs, you will get a batch of 150-200 results from several Search Engines
										</li>
										<li>
											Results are initially labeled as neutral, it's up to you to label them as relevant or irrelevant.
										</li>
										<li>
											You don't have to label all the results, just keep going until you think you teach the system enough of what you are looking for, though we'd recommend at least 100,
											but could be more depending on the nuance of the domains.
										</li>
										<li>
											In the results view, there is an infinite scroll, so take it easy :)
										</li>
									</ul>
								</p>
							</div>
						</div>
						<div ng-show="search_url_div_content" style="padding-left:20px">
							<div>
								<br/>
								<!--length: {{workspace.relevantWords.length}}<br>-->
								<!--relevant: {{workspace.relevantWords}}<br>-->
								<!--words: {{workspace.words}}<br>-->
								<!--ws: {{workspace}}<br>-->
								<!--<br>-->
								<button ng-disabled='!(workspace.relevantWords.length>0)'
										type="button" class="btn btn-primary btn-sm" ng-click="generateSeedUrls('SE')">
									Fetch URLs
								</button>
								<button type="button" class="btn btn-danger btn-sm" ng-click="resetResults('searchengine')">
									Delete
								</button>
								<span style="padding: 5px">&nbsp;</span>
								<a href="" ng-click="viewDetailsByCrawlTypeSource('searchengine')">View results</a>
								<br/>
								<h6 ng-hide='workspace.relevantWords.length>0'>
									<span  style="color:red">(Requires Keywords to be entered first)</span>
								</h6>
								<br/>
								<h5>Summary:</h5>
								<div style=" column-count: 4">
									<ul>
										<li>Relevant: {{resultStruct["SE"]["relevant"]}}</li>
										<li>Irrelevant: {{resultStruct["SE"]["irrelevant"]}}</li>
										<li>Neutral: {{resultStruct["SE"]["neutral"]}}</li>
									</ul>
								</div>
								<br/>
							</div>
							<br>
						</div>
					</div>
					<hr>

					<!--<h4>Label User Defined Categories (optional)</h4>-->
					<div  style="display:none">
						<div>
							<div style="float:left">
								<h4>Label User Defined Categories (optional)</h4>
							</div>
							<div style="float:right">
								<i class="material-icons cursorable" ng-hide="custom_training_div_content" ng-click='toggleCustomTraining(true)'>expand_more</i>
								<i class="material-icons cursorable" ng-show="custom_training_div_content" ng-click='toggleCustomTraining(false)'>expand_less</i>
							</div>
							<div style="clear:both"></div>
							<div>
								<p style="font-style:italic">Will display the urls to be labeled according to user provided categories</p>

								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											These categories are not used for any purpose in the system, it's just a tagging to help the user classify the data.
										</li>
										<li>
											These tagging is present when the results are exported, nowhere else so far but we are working on a filter for the results based on these categories.
										</li>
										<li>
											These categories are different dimension from the Functional tagging (Forum, News, etc) that is done automatically for the system.
										</li>
									</ul>
								</p>
							</div>
						</div>
						<div ng-show="custom_training_div_content" style="padding-left:20px">
							<div>
								<h5>User defined categories <a href="" ng-click="navigateToUserDefinedCategories()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></h5>
							</div>
							<div ng-show="userDefinedCategoriesCounted.length==0">
								<span style="font-style:italic; padding-left:20px">  - no user defined categories added yet -</span>
							</div>
							<div style=" column-count: 4">
								<ul >
									<li ng-repeat="userDefinedCategoryCount in userDefinedCategoriesCounted">{{userDefinedCategoryCount.category | capitalize}} ({{userDefinedCategoryCount.count}})</li>
								</ul>
							</div>
							<br/>
							<!--<a href="" ng-click="viewDetailsByCrawlTypeSource('searchengine')">Label urls</a>-->
							<a ng-show="userDefinedCategoriesCounted.length>0" href="" ng-click="navigateToLabelUserDefinedCategories()">Label urls</a>
						</div>
					</div>
					<hr  style="display:none">


					<!--<h4>Seed URLs </h4>-->
					<div>
						<div>
							<div style="float:left">
								<h4>Seed URLs (optional)</h4>
							</div>
							<div style="float:right">
								<i class="material-icons cursorable" ng-hide="seed_url_div_content" ng-click='toggleSeedUrl(true)'>expand_more</i>
								<i class="material-icons cursorable" ng-show="seed_url_div_content" ng-click='toggleSeedUrl(false)'>expand_less</i>
							</div>
							<div style="clear:both"></div>
							<div>
								<p style="font-style:italic">You can provide your own list of URLs relevant to the domain</p>
								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											Importing URLs with this feature works exactly the same as if you would found a result on the Search URLs results, and marked it relevant.
										</li>
										<li>
											Onions are supported!
										</li>
									</ul>
								</p>
							</div>
						</div>
						<div ng-show="seed_url_div_content" style="padding-left:20px">
							<!--<h4>Seed URLs </h4>-->
							<div>
								<br/>
								<button type="button" class="btn btn-primary btn-sm" ng-click="navigateToImportUrl()">
									Import
								</button>
								<button type="button" class="btn btn-danger btn-sm" ng-show='resultStruct["SE"]["total"]>0' ng-click="resetResults('searchengine')">
									Delete
								</button>
								<span style="padding: 5px">&nbsp;</span>
								<a href="" ng-click="viewDetailsByCrawlTypeSource('imported')">View results</a>
								<br/>
								<br/>
								<h5>Summary:</h5>
								<div style=" column-count: 4">
									<ul >
										<li>Relevant: {{resultStruct["MANUAL"]["relevant"]}}</li>
										<li>Irrelevant: {{resultStruct["MANUAL"]["irrelevant"]}}</li>
										<li>Neutral: {{resultStruct["MANUAL"]["neutral"]}}</li>
									</ul>
								</div>
								<br>
							</div>
						</div>
					</div>
					<hr>

					<!--<h4>Machine Learning</h4>-->
					<div>
						<div>
							<div style="float:left">
								<h4>3. Machine Learning</h4>
							</div>
							<div style="float:right">
								<i class="material-icons cursorable" ng-hide="deep_learning_div_content" ng-click='toggleDeepLearning(true)'>expand_more</i>
								<i class="material-icons cursorable" ng-show="deep_learning_div_content" ng-click='toggleDeepLearning(false)'>expand_less</i>
							</div>
							<div style="clear:both"></div>
							<div>
								<p style="font-style:italic">Will perform open web crawls based on a classifier built upon the labeled data</p>
							</div>
						</div>
						<div ng-show="deep_learning_div_content" style="padding-left:30px">

							<!--MODELER-->
							<div>
								<h5>3.1. Train with Deep-Deep</h5>
								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											Builds the model for the classifier based on the labeled pages.
										</li>
									</ul>
								</p>
								<div style="padding-left:20px">
									<button ng-disabled='resultStruct["SE"]["relevant"]==0 && (resultStruct["MANUAL"]["relevant"]==0 || resultStruct["MANUAL"]["irrelevant"]==0) || buildingDdModeler'
											type="button" class="btn btn-primary  btn-sm" ng-click="startDdModeler()" >
										Build Model
									</button> &nbsp;&nbsp;&nbsp;
									<span ng-show='resultStruct["SE"]["relevant"]==0 && (resultStruct["MANUAL"]["relevant"]==0 || resultStruct["MANUAL"]["irrelevant"]==0)' style="color:red">
										Requires a prior training using imported URLs or the SearchEngines Fetch to gather some URLs.
									</span>
									<span ng-show='buildingDdModeler' style="color:blue; font-size:12px">
										Build started! It usually takes around a minute to complete.<br>
										<br/>
										<div class="progress" style="width:600px">
											<div class="progress-bar" role="progressbar" aria-valuenow="{{modeler.percentageDone}}" aria-valuemin="0" aria-valuemax="100"
													ng-style="{width : ( getModelerPercentageValue() + '%' ) }"
											>
												<span class="sr-only">{{modeler.percentageDone | roundup}}% Complete</span>
										   <!--style="width: {{modeler.percentageDone}}%;"-->
											</div>
											<!--Progress = {{modeler.percentageDone | roundup}}%-->
											<span>&nbsp;{{modeler.percentageDone | roundup}}%</span>
										</div>
									</span>
									<!--<span ng-show='workspace.page_model.model' style="color:green; font-size:12px">-->
									<span ng-show='modeler.model' style="color:green; font-size:12px">
										Model completed. You should rebuild it if you label more results.<br/>
									</span>

									<br/>
									<br/>

									<div id="classifier-quality-container" style="padding-right: 100px">

										<div ng-repeat="adviceItem in modeler.quality.advice" >
											<div  class="alert" role="alert" ng-class="{'alert-warning' : adviceItem.kind=='Warning', 'alert-danger' : adviceItem.kind=='Error', 'alert-info' : adviceItem.kind=='Notice'}">
												<b>{{adviceItem.kind}}!</b>
													<span ng-repeat="message in adviceItem.messages">
														{{message.text}}<span ng-show="message.tooltip"data-toggle="tooltip" data-placement="bottom" title="{{message.tooltip}}">
															<span class="question glyphicon glyphicon-question-sign"></span>
														</span>
															<script type="text/javascript">
																	$(function () {
																		$('[data-toggle="tooltip"]').tooltip();
																	})
															</script>
													</span>
											</div>
										</div>

										<div style="padding:20px" ng-show="getMoreStatusIsNotEmpty()">
											<a href="javascript:void(0);" ng-show="!showMoreStatus && getMoreStatusIsNotEmpty()" ng-click="toggleShowMore()">Show more &hellip;</a>
											<a href="javascript:void(0);" ng-show="showMoreStatus && getMoreStatusIsNotEmpty()" ng-click="toggleShowMore()">Show less &hellip;</a>
										</div>

										<div ng-show="showMoreStatus">
											<div>
												<dl class="dl-horizontal">
													<div  ng-repeat="descriptionItem in modeler.quality.description" >
														<dt>{{descriptionItem.heading}}

															<span ng-show="['Accuracy', 'F1', 'ROC AUC'].indexOf(descriptionItem.heading)>-1" tooltip-trigger data-toggle="tooltip" data-placement="bottom"
																  title="{{modeler.quality.tooltips[descriptionItem.heading]}}">
																<span class="question glyphicon glyphicon-question-sign"></span>
															</span>
														</dt>
														<dd>{{descriptionItem.text}}</dd>
															<script type="text/javascript">
																	$(function () {
																		$('[data-toggle="tooltip"]').tooltip();
																	})
															</script>
													</div>
												</dl>
											</div>
											<div style="padding:20px">
												<a href="javascript:void(0);" ng-show="!showFeatureWeightsStatus && getFeatureWeightsStatusIsNotEmtpy()" ng-click="toggleFeatureWeights()">Show feature weights &hellip;</a>
												<a href="javascript:void(0);" ng-show="showFeatureWeightsStatus && getFeatureWeightsStatusIsNotEmtpy()" ng-click="toggleFeatureWeights()">Hide feature weights &hellip;</a>
											</div>
											<!--<div id="clf-weights" class="collapse weights">-->
											<div ng-show="showFeatureWeightsStatus" style="padding-left:40px">
												<table class="eli5-weights" style="border-collapse: collapse; border: none;"
													ng-show="modeler.quality.weights.pos.length + modeler.quality.weights.neg.length>0"
												>
												<thead>
												<tr style="border: none;">
													<th style="padding: 0 1em 0 0.5em; text-align: right; border: none;">Weight</th>
													<th style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">Feature</th>
												</tr>
												</thead>
												<tbody>
													<tr style="background-color: {{item['hsl_color']}}; border: none;" ng-repeat="item in modeler.quality.weights.pos">
														<td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
															+<span ng-bind='item["weight"] | number:3'></span>
														</td>
														<td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
															<span ng-bind='item["feature"]'></span>
														</td>
													</tr>
													<tr style="background-color: hsl(120, 100.00%, 88.94%); border: none;"
														ng-show="modeler.quality.weights.pos.length>0"
													>
														<td colspan="2" style="padding: 0 0.5em 0 0.5em; text-align: center; border: none;">
															<i>&hellip; {{modeler.quality.weights.pos_remaining}} more positive &hellip;</i>
														</td>
													</tr>
													<tr style="background-color: hsl(0, 100.00%, 88.77%); border: none;"
														ng-show="modeler.quality.weights.neg.length>0"
													>
														<td colspan="2" style="padding: 0 0.5em 0 0.5em; text-align: center; border: none;">
															<i>&hellip;  {{modeler.quality.weights.neg_remaining}} more negative &hellip;</i>
														</td>
													</tr>
													<tr style="background-color: {{item['hsl_color']}}; border: none;" ng-repeat="item in modeler.quality.weights.neg">
														<td style="padding: 0 1em 0 0.5em; text-align: right; border: none;">
															<span ng-bind='item["weight"] | number:3'></span>
														</td>
														<td style="padding: 0 0.5em 0 0.5em; text-align: left; border: none;">
															<span ng-bind='item["feature"]'></span>
														</td>
													</tr>
												</tbody>
											</table>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!--TRAINER-->
							<div style="padding-top:20px">
								<h5>3.2. Crawl some more documents, using Deep-Deep with the generated model. Then label them</h5>
								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											This runs a sample crawl using the classifier. It usually takes a couple of minutes to get relevant results.
										</li>
										<li>
											Please label these results as well and then care to build the model again so it uses the new data available.
										</li>
										<li>
											When done, you can run it again or go for the big crawl on the next step.
										</li>
									</ul>
								</p>
								<div style="padding-left:20px">
									<div>
												<!--ng-disabled='!(workspace.page_model.model) || ddTrainerJobId'-->
												<!--ng-disabled='!(modeler.model) || ddTrainerJobId || trainer.percentageDone <99'-->
										<button
												ng-disabled='!modeler.model || trainer.job==null || (trainer.job!=null && (trainer.job.status=="STARTED" || trainer.job.status=="QUEUED")) '
												type="button" class="btn btn-primary btn-sm" ng-click="startDdTrainer()">
											Start Trainer Crawler
										</button>
												<!--ng-disabled='!(workspace.page_model.model) || !ddTrainerJobId'-->
										<button
												ng-disabled='trainer.job==null || (trainer.job.status!="STARTED" && trainer.job.status!="QUEUED") '
												type="button" class="btn btn-primary btn-sm" ng-click="stopDdTrainer()">
											Stop Trainer Crawler
										</button>
										<button type="button" class="btn btn-danger btn-sm" ng-show='resultStruct["DD"]["total"]>0' ng-click="resetResults('DD')">
											Delete Results
										</button>
										<span style="padding: 5px">&nbsp;</span>
										<!--<a href="" ng-click="navigateToJobs()">View jobs</a>-->
											<a ng-show='resultStruct["DD"]["total"]>0' href="javascript:void(0)" ng-click="viewDetailsByCrawlTypeSource('deepdeep')">View and label results</a><span style="margin:10px"></span>
										<!--<h6>-->
											<!--<span ng-show='resultStruct["DD"]["relevant"]==0' style="color:red">-->
												<!--("Start" requires a prior training using Deepdeep's crawling results)-->
											<!--</span>-->
										<!--</h6>-->
									</div>
									<!--<h6><span ng-hide='workspace.page_model.model' style="color:red">(Requires an initial model)</span></h6>-->

									<!--<div style="padding:20px; padding-bottom: 0px" >-->
									<div style="padding:0px; padding-bottom: 0px" >
										<h6 ng-hide='modeler.model' ><span style="color:red">(Requires an initial model)</span></h6>

										<div ng-show="trainer.job._id">
											<br>
											<h6>Requested job with id:
												<span ng-bind="trainer.job._id"></span>
												<a href="" ng-click="navigateToJobs()">View jobs</a>
											</h6>
											<h6>Status: <span ng-bind='trainer.job.status=="FINISHED" && trainer.percentageDone<99? "STARTED": trainer.job.status'></span></h6>
											<h6>Started: <span ng-bind="trainer.job.strTimestamp"> &nbsp; UTC</span></h6>
											<h6>Checkpoint generated: <span ng-class="{'green' : trainer.model}" ng-bind="trainer.model?'Yes':'No'"> </span></h6>
										</div>
										<style>
											.green{
												color: green;
											}
										</style>

										<div ng-hide='trainer.progress==""'>
											<!--progressbar-->
											<div class="progress" style="width:600px; margin-top: 20px" ng-show="trainer.percentageDone >0 && trainer.percentageDone <99 ">
												<div class="progress-bar" role="progressbar" aria-valuenow="{{trainer.percentageDone}}" aria-valuemin="0" aria-valuemax="100"
														ng-style="{width : ( getTrainerPercentageValue() + '%' ) }"
												>
													<span class="sr-only">{{trainer.percentageDone | roundup}}% Complete</span>
												</div>
												<span>&nbsp;{{trainer.percentageDone | roundup}}%</span>
												<br>
											</div>
											<h6><span ng-bind="trainer.progress"></span></h6>
											<br>
											<span ng-show='trainer.percentageDone >99' style="margin-bottom:20px">
												<span style="color:green; font-size:12px;" >Trainer crawler finished successfully! </span>
												<span style="font-size:12px;">Please  <a href="javascript:void(0)" ng-click="viewDetailsByCrawlTypeSource('deepdeep')"> label the results</a></span>
											</span>
										</div>

									</div>
								</div>
							</div>

							<!--CRAWLER-->
							<div style="margin-top:40px">
								<h5>3.3. Broad Crawl using Deep-Deep</h5>
								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											This runs a full crawl using the classifier.
										</li>
										<li>
											Only a small sample of all the crawled domains will be showed on the results. You need to contact us in order to get all the results due their large volume.
										</li>
										<li>
											The depth of the crawl on a given domain is decided dynamically based on the relevance of the pages found on it.
										</li>
									</ul>
								</p>
								<div style="padding-left:20px">
									<div>
										<h6>
											<b>
												Before starting the broad crawl, please rebuild the model (from Step 1)
											</b>
										</h6>
									</div>
								</div>
								<br>
								<div style="padding-left:20px">
									<div>
												<!--ng-disabled='ddCrawlerJobId || !(workspace.link_model.model && resultStruct["DD"]["relevant"]>0)'-->
												<!--ng-disabled='!trainer.model || !resultStruct["DD"]["relevant"]>0'-->
										<button
												ng-disabled=' !trainer.model ||
															  !(resultStruct["DD"]["relevant"]>0) ||
																(crawler.job==null || (crawler.job!=null && (crawler.job.status=="STARTED" || crawler.job.status=="QUEUED"))) '
										type="button" class="btn btn-primary btn-sm" ng-click="navigateToBroadcrawlNew()">
											Start Crawler...
										</button>
												<!--ng-disabled='!ddCrawlerJobId || !(workspace.link_model.model && resultStruct["DD"]["relevant"]>0)'-->
										<button
												ng-disabled='crawler.job==null || (crawler.job.status!="STARTED" && crawler.job.status!="QUEUED") '
												type="button" class="btn btn-primary btn-sm" ng-click="stopBroadCrawl()">
											Stop Crawler
										</button>
										<button type="button" class="btn btn-danger btn-sm" ng-click="resetResults('deepdeep')" ng-hide="true">
											Delete
										</button>
										<span style="padding: 5px">&nbsp;</span>
										<a href="" ng-click="navigateToBroadcrawlResults()">View results</a>
										<span style="padding: 5px">&nbsp;</span>
										<a href="" ng-click="navigateToBroadcrawlResultsSummary()">View results summary</a>
										<!--<h6 ng-show="ddCrawlerJobId">-->
											<!--<span>-->
												<!--Requested job with id: <span ng-bind="ddCrawlerJobId"></span>-->
											<!--</span>-->
										<!--</h6>-->
										<!--<span style="padding: 5px">&nbsp;</span>-->
										<!--<a href="" ng-click="navigateToJobs()">View jobs</a>-->

									</div>

									<br>
									<div style="padding:0px; padding-bottom: 0px" >
										<h6 ng-hide='trainer.model && resultStruct["DD"]["relevant"]>0' >
											<span style="color:red">
												Requires a previous training with Deep-Deep and a checkpoint from the previous step.
											</span>
										</h6>

										<div ng-show="crawler.job._id">
											<h6>Requested job with id:
												<span ng-bind="crawler.job._id"></span>
												<a href="" ng-click="navigateToJobs()">View jobs</a>

											</h6>
											<h6>Status: <span ng-bind="crawler.job.status"></span></h6>
											<h6>Started: <span ng-bind="crawler.job.strTimestamp"> &nbsp; UTC</span></h6>
										</div>

										<div ng-hide='crawler.progress==""'>
											<!--progressbar-->
											<div class="progress" style="width:600px; margin-top: 20px" ng-show="crawler.percentageDone >0 && crawler.percentageDone <99 ">
												<div class="progress-bar" role="progressbar" aria-valuenow="{{crawler.percentageDone}}" aria-valuemin="0" aria-valuemax="100"
														ng-style="{width : ( getCrawlerPercentageValue() + '%' ) }"
												>
													<span class="sr-only">{{crawler.percentageDone | roundup}}% Complete</span>
												</div>
												<span>&nbsp;{{crawler.percentageDone | roundup}}%</span>
												<br>
											</div>
											<h6><span ng-bind="crawler.progress"></span></h6>
											<br>
											<span ng-show='crawler.percentageDone >99' style="margin-bottom:20px">
												<span style="color:green; font-size:12px;" >Crawler finished successfully! </span>
											</span>
										</div>

									</div>
									<br>
								</div>
							</div>

						</div>
					</div>

					<hr>
				<!--</div>-->



					<!--<h4>Deep Web (optional)</h4>-->
					<div>
						<div>
							<div style="float:left">
								<h4>Deep Web (optional)</h4>
							</div>
							<div style="float:right">
								<i class="material-icons cursorable" ng-hide="deep_web_div_content" ng-click='toggleDeepWeb(true)'>expand_more</i>
								<i class="material-icons cursorable" ng-show="deep_web_div_content" ng-click='toggleDeepWeb(false)'>expand_less</i>
							</div>
							<div style="clear:both"></div>
							<div>
								<p style="font-style:italic">Will perform the search on the Deep Web on the keywords defined</p>

								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
									<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
										<li>
											This feature works as the Search URLs tab but will retrieve results from a onion search index instead of from Search Engines, using the current defined keywords.
										</li>
										<li>
											You can label the results if you wish, but displaying the results is actually the end of the workflow for the deep web search right now. We are working on the next step.
										</li>
									</ul>
								</p>
							</div>
						</div>
						<div ng-show="deep_web_div_content" style="padding-left:20px">
							<div>
								<div>
									<br>
									<button ng-disabled='!(workspace.relevantWords.length>0)'
											type="button" class="btn btn-primary btn-sm" ng-click="generateSeedUrls('TOR')">
										Fetch URLs
									</button>
									<button type="button" class="btn btn-danger btn-sm" ng-click="resetResults('TOR')">
										Delete
									</button>
									<span style="padding: 5px">&nbsp;</span>
									<a href="" ng-click="viewDetailsByCrawlTypeSource('tor')">View results</a>
									<br/>
									<h6 ng-hide='workspace.relevantWords.length>0'>
										<span
											  style="color:red">(Requires Keywords to be entered first)</span>
									</h6>
									<br/>
									<h5>Summary:</h5>
									<div style=" column-count: 4">
										<ul>
											<li>Relevant: {{resultStruct["TOR"]["relevant"]}}</li>
											<li>Irrelevant: {{resultStruct["TOR"]["irrelevant"]}}</li>
											<li>Neutral: {{resultStruct["TOR"]["neutral"]}}</li>
										</ul>
									</div>
									<br/>
								</div>
							</div>
						</div>
					</div>
					<hr>



					<!--<h4>Credentials for the crawler (optional)</h4>-->
					<div >
						<div>
							<div style="float:left">
								<h4>Credentials for the crawler (optional)</h4>
							</div>
							<div style="float:right">
								<i class="material-icons cursorable" ng-hide="credentials_crawler_div_content" ng-click='toggleCredentialsCrawler(true)'>expand_more</i>
								<i class="material-icons cursorable" ng-show="credentials_crawler_div_content" ng-click='toggleCredentialsCrawler(false)'>expand_less</i>
							</div>
							<div style="clear:both"></div>
							<div>
								<p style="font-style:italic">You can provide credentials for the crawler while it is running, so it can deep crawl the whole domain</p>
								<p style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">
								<!--<ul style="font-size:12px; font-style:italic; padding-right:20px; padding-top:0px">-->
									<!--<li>-->
										<!--Importing URLs with this feature works exactly the same as if you would found a result on the Search URLs results, and marked it relevant.-->
									<!--</li>-->
									<!--<li>-->
										<!--Onions are supported!-->
									<!--</li>-->
								<!--</ul>-->
								</p>
							</div>
						</div>
						<div ng-show="credentials_crawler_div_content" style="padding-left:20px">
							<div>
								<h5>Summary:</h5>
								<div style=" column-count: 4">
									<ul >
										<li>Pending: {{loginInputStats["PENDING"]}}</li>
										<li>Completed: {{loginInputStats["COMPLETED"]}}</li>
									</ul>
								</div>
								<br>
								<h5><a href="" ng-click="goToActionPage()">Provide new credentials</a></h5>
								<h5><a href="" ng-click="goToLoginInputSummaryPage()">Admin credentials</a></h5>
							</div>
						</div>
					</div>
					<hr  >


					<!--<div class="panel-footer">-->
				</div>
			</div>

