
						<div class="panel panel-default" >
							<div class="panel-heading">
								<h3 class="panel-title" style="display:inline;">Jobs Dashboard</h3>
								<a id="memtool" class="glyphicon glyphicon-question-sign"></a>
								<a ng-click="navigateToDashboard(workspace._id)" >
									<span class="next-step">
										<span style="margin-left:5px" class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
										Back to Dashboard
									</span>
								</a>

							</div>
							<div class="panel-body">
								<div id="wsList" class="list-group">
									<div width="60%">
										<table class="table" width="70%" style="font-size:13px">
											<thead>
											  <tr>
												<!--<th width="2%">&nbsp;</th>-->
												  <!--<th width="2%">#</th>-->
												  <!--<th>Name</th>-->
												<th>id</th>
												<!--<th>workspaceId</th>-->
												<th>Started</th>
												<!--<th>Provider</th>-->
												<th>Source</th>
												<th>Crawl Type</th>
												<th># URLs</th>
												<th>Status</th>
												<th>&nbsp;</th>
											  </tr>
											</thead>
											<tbody>
											<!--<tr ng-repeat="workspace in workspaces track by workspace._id"  ng-class-even="{{ workspace.selected ? '':'workspace-row-even'}}" class='{{ workspace.selected ? "workspace-row-selected" : ""}}'>-->
											<!--<tr ng-repeat="job in jobs track by job._id" ng-class-even="workspace.selected ? '':'workspace-row-even'" class='{{ workspace.selected ? "workspace-row-selected" : ""}}'>-->
											<tr ng-repeat="job in jobs track by job._id"  ng-class-even="job.selected ? '':'workspace-row-even'" class='{{ job.selected ? "workspace-row-selected" : ""}}'>
												<td>
													{{job._id}}
												</td>
												<!--<td>-->
													<!--{{job.workspaceId}}-->
												<!--</td>-->
												<td>
													{{job.strTimestamp}}
												</td>
												<!--<td>-->
													<!--{{job.provider}}-->
												<!--</td>-->
												<td>
													{{job.sources.join(', ')}}
												</td>
												<td>
													{{job.crawlType}}
												</td>
												<td>
													{{job.nResultsRequested}}
												</td>
												<td>
													{{job.status}}
												</td>
												<td>
													<a ng-if="job.status!='CANCELLED'" ng-click="cancelJob(job._id)">Cancel</a>
												</td>
											  </tr>
											</tbody>
										  </table>
									</div>
								</div>
							</div>
							<div class="panel-footer"></div>
						</div>
