<md-content flex md-scroll-y class="md-default-theme" id="homeContent">
	<ui-view layout="column" layout-fill layout-padding>
		<div layout="column" flex>
			<md-toolbar class="md-table-toolbar md-default">
				<div class="md-toolbar-tools">
					<h2 class="md-title">Jobs</h2>
					<div flex></div>
					<md-button class="md-icon-button" ng-click="getDesserts()">
						<md-icon>refresh</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-table-container>
				<table md-table ng-model="selected" md-progress="promise">
					<thead md-head md-order="query.order" md-on-reorder="onReorder">
					<tr md-row>
						<th md-column><span>Id</span></th>
						<th md-column><span>Name</span></th>
						<th md-column><span>EC2 Hs.</span></th>
						<th md-column><span>State</span></th>
						<th md-column><span>Change Reason <br>Code</span></th>
						<th md-column><span>Change Reason <br>Message</span></th>
						<th md-column><span>Creation <br>Datetime &nbsp;&nbsp;&nbsp;&nbsp;</span></th>
						<th md-column><span>Ready <br>Datetime &nbsp;&nbsp;&nbsp;&nbsp;</span></th>
						<th md-column><span>End <br>Datetime &nbsp;&nbsp;&nbsp;&nbsp;</span></th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row  md-select="cluster" md-select-id="{{cluster.id}}" ng-repeat="cluster in clusters.data">
						<td md-cell>{{cluster.id}}</td>
						<td md-cell>{{cluster.name}}</td>
						<td md-cell>{{cluster.normalizedInstanceHours}}</td>
						<td md-cell>{{cluster.status.state}}</td>
						<td md-cell>{{cluster.status.stateChangeReasonCode}}</td>
						<td md-cell>{{cluster.status.stateChangeReasonMessage}}</td>
						<td md-cell>{{cluster.status.timeline.creationDatetime | noGmt}}</td>
						<td md-cell>{{cluster.status.timeline.readyDatetime | noGmt}}</td>
						<td md-cell>{{cluster.status.timeline.endDatetime | noGmt}}</td>
					</tr>
					</tbody>
					<tfoot md-foot>
					<tr md-row>
						<td md-cell></td><td md-cell><strong>Total: &nbsp;&nbsp;&nbsp;{{clusters.count}}</strong></td>
						<td md-cell colspan="11"></td>
					</tr>
					</tfoot>
				</table>
			</md-table-container>
		</div>
	</ui-view>
</md-content>