						<div id="loading" ng-show="loading==true">
							<div class="alert alert-loading" role="alert">Processing, please wait... </div>
						</div>
						<div id="notificationArea">
							<!--TODO -->
						</div>
						<div class="panel panel-default" >
							<div class="panel-heading">
								<h3 class="panel-title" style="display:inline;">Workspaces</h3>
								<a id="memtool" class="glyphicon glyphicon-question-sign"></a>
								<!--<a class="navbar-seed" ng-click="next()">-->
									<!--<span class="next-step">-->
										<!--Next step-->
										<!--<span style="margin-left:5px" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>-->
									<!--</span>-->
								<!--</a>-->
							</div>
							<div class="panel-body">

								<div id="header" style="padding:20px">
									<h3>Choose one workspace or create a new one first.</h3>
								</div>

								<div id="wsList" class="list-group">
									<div width="60%">
										<table class="table" width="70%" style="font-size:13px">
											<thead>
											  <tr>
												<th width="2%">&nbsp;</th>
												<!--<th width="2%">#</th>-->
												<th>Name</th>
												<th>Date created</th>
												<th># Keywords</th>
												<th>Modeler progress (%)</th>
												<th>Trainer progress (%)</th>
												<th>Trainer checkpoint</th>
												<th>Crawler progress (%)</th>
												<th>&nbsp;</th>
											  </tr>
											</thead>
											<tbody>
											<tr ng-repeat="workspace in workspaces track by workspace._id"  ng-class-even="workspace.selected ? '':'workspace-row-even'" class='{{ workspace.selected ? "workspace-row-selected" : ""}}'>
												<td></td>
												<!--<th>{{ $index + 1 }}</th>-->
												<td><a ng-click="selectWorkspace(workspace._id) && navigateToDashboard(workspace._id)">{{ workspace.name }}</a></td>
												<td>{{ workspace.created }}</td>
												<td>{{ getLength(workspace.words) }}</td>
												<td>{{(workspace.page_model && workspace.page_model.percentage_done)? (workspace.page_model.percentage_done  | roundup) : 0}}</td>
												<td>{{(workspace.dd_trainer && workspace.dd_trainer.percentage_done)? (workspace.page_model.percentage_done  | roundup) : 0}}</td>
												<td>{{(workspace.dd_trainer && workspace.dd_trainer.trainer_model)? "Yes" : "No"}}</td>
												<td>{{(workspace.dd_crawler && workspace.dd_crawler.percentageDone)? (workspace.dd_crawler.percentageDone | roundup) : 0}}</td>
												<td>
													<a>
														<span class="glyphicon glyphicon-trash" ng-click="deleteWorkspace(workspace._id, workspace.name)" title="remove"></span>
													</a>
												</td>
											  </tr>
											  <tr>
												<td colspan="9">&nbsp;</td>
											  </tr>
											  <tr>
												<td>&nbsp;</td>
												<td><input type="text" ng-model="workspace.name" ng-keyup="$event.keyCode == 13 && addWorkspace()" placeholder=" Add a new one"></td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>
													<a ng-click="addWorkspace()">
														<span class="glyphicon glyphicon-plus-sign"></span>
													</a>
												</td>
											  </tr>
												<!--<tr>-->
													<!--<td colspan="8" style="text-alignment:right">-->
														<!--<br>-->
														<!--<button type="button" class="btn btn-primary btn-md" ng-click="navigateToDashboard(workspace._id)">-->
															<!--Continue-->
														<!--</button>-->
													<!--</td>-->
												<!--</tr>-->
											</tbody>
										  </table>
									</div>
								</div>
							</div>
							<div class="panel-footer"></div>
						</div>
