<div style="padding:8px; padding-top:48px">
    <div ng-controller="allLabeledController" layout="column">

        <section class="section--center mdl-grid mdl-grid--no-spacing" layout-align="space-between center" >
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            <!--<h4>New Deep Crawl</h4>-->
                            <h4>Label fetched pages to build the model</h4>
                        </span>
                    </div>

                    <!--/*margin-left: 27px;margin-right: 27px-->
                    <div class="mdl-card__supporting-text" layout="column" layout-align="space-between start" style="margin-bottom: 0px;margin-top: 0px;">
                        Model metrics with some BIG HUGE numbers here! Score: 78.2% on 10 annotated pages (12% relevant).

                        <br>
                    </div>

                    <div class="mdl-grid portfolio-max-width" style="height: 950px" >
                    <!--<div class="mdl-grid portfolio-max-width" style="height: 950px">-->
                    <!--<div class="mdl-grid portfolio-max-width" style="height: 440px; min-height: 441px">-->
                        <md-tabs md-selected="selectedTabIndex" md-border-bottom md-autoselect flex="100" >
                            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.source.name}} " >
                                    <div class="tab{{$index%4}}" style="padding: 25px;" layout="column">
                                        <div layout="row" layout-align="space-between center" flex="100" style="width: 100%">
                                            <div flex="75">
                                                <!--<span>Show &nbsp;&nbsp;&nbsp;</span>-->
                                                <md-checkbox
                                                    ng-repeat="relevance in relevances"
                                                    aria-label="{{relevance.name}}"
                                                    ng-checked="inSelection(relevance.code, relevanceSelection)"
                                                    ng-click="toggleSelection(relevance.code, relevanceSelection) && clear(tab) && bottomOfPageReached(tab)">
                                                    {{relevance.name}} ({{tab.aggregatedResults[relevance.aggCode]}})
                                                </md-checkbox>
                                                    <!--value="{{relevance}}"-->

                                                <!--<md-checkbox-->
                                                    <!--ng-model=filters.relevance["relevant"]-->
                                                <!--&gt;-->
                                                <!--Relevant ({{tab.aggregatedResults["relevant"]}})-->
                                                <!--</md-checkbox>-->
                                                <!--<md-checkbox-->
                                                    <!--aria-label="Not relevant"-->
                                                    <!--ng-model=filters.relevance["irrelevant"]-->
                                                <!--&gt;-->
                                                <!--Not relevant ({{tab.aggregatedResults["irrelevant"]}})-->
                                                <!--</md-checkbox>-->
                                                <!--<md-checkbox-->
                                                    <!--aria-label="Skipped"-->
                                                    <!--ng-model=filters.relevance["skipped"]-->
                                                <!--&gt;-->
                                                <!--Skipped ({{tab.aggregatedResults["skipped"]}})-->
                                                <!--</md-checkbox>-->
                                                <!--<md-checkbox-->
                                                    <!--aria-label="Pending"-->
                                                    <!--ng-model=filters.relevance["pending"]-->
                                                <!--&gt;-->
                                                <!--Pending ({{tab.aggregatedResults["pending"]}})-->
                                                <!--</md-checkbox>-->
                                            </div>

                                            <!--<div>-->
                                                <!--{{tab.selected.length + (tab.allSelected? (tab.nResults - tab.elems.length):0)}}  selected-->
                                            <!--</div>-->
                                            <!--<div>-->
                                                <!--Showing {{tab.elems.length}} of {{tab.aggregatedResults["total"]}}-->
                                            <!--</div>-->
                                        </div>



                                        <md-content class="mdl-grid portfolio-max-width" style="max-height: 700px; margin-top:40px" scrolly="bottomOfPageReached(tab)">
                                        <!--<md-content class="mdl-grid portfolio-max-width" style="margin-top:40px" >-->

                                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" style="width: 100%; height:250px" ng-repeat="elem in tab.elems" >
                                                <div layout="row" layout-align="start end">
                                                    <div class="mdl-card__media mdl-shadow--2dp" ng-click="showAdvanced(elem, $event)" style="width: 290px">
                                                        <a href="javascript:void(0)">
                                                            <img class="article-image" ng-src="api/workspace/{{master.workspaceId}}/keywords/screenshot/{{elem._id}}" width="290" height="250" border="0" alt="">
                                                        </a>
                                                    </div>
                                                    <div layout="column" layout-align="start start" style="margin-left:30px;margin-right: 30px; width: 100%">
                                                        <div class="mdl-card__title">
                                                            <span>
                                                                <span style="font-size:20px;" ng-bind="elem.host | capitalize"></span>
                                                            </span>
                                                        </div>
                                                        <div class="mdl-card__supporting-text" layout="column" layout-align="space-between start" style="margin: 0px; padding: 16px; width: 100%">
                                                            <!--<div class="mdl-card__title-text" flex="100">-->
                                                            <div flex="100">
                                                                <div layout="column" layout-align="start start" flex="100">
                                                                    <span ng-bind="elem.title" style="font-size:16px"> </span>
                                                                </div>
                                                            </div>
                                                            <div layout="row" layout-align="space-between center" style="margin-top:40px; width: 100%">
                                                                <div layout="row" layout-align="space-between center" >
                                                                    <md-button
                                                                            ng-class="{'md-raised': !(elem.relevant===false), 'md-primary':elem.relevant===false}"
                                                                            ng-disabled='elem["relevant"]===false'
                                                                           ng-click="label($event, tab, elem, false)" style="  font-size: 14px;text-align: center;  text-transform: none;">
                                                                        Not relevant</md-button>
                                                                    <md-button
                                                                            ng-class="{'md-raised': !(elem.relevant===true), 'md-primary':elem.relevant===true}"
                                                                            ng-disabled='elem["relevant"]===true'
                                                                            ng-click="label($event, tab, elem, true)"
                                                                            style="  font-size: 14px;text-align: center;  text-transform: none;">
                                                                        Relevant</md-button>
                                                                </div>
                                                                <div  layout="row" layout-align="space-between center">
                                                                    <md-button
                                                                            ng-class="{'md-raised': !(elem.relevant===null ), 'md-primary':elem.relevant===null }"
                                                                            ng-disabled='elem["relevant"]===null'
                                                                            ng-click="label($event, tab, elem, null)" style="  font-size: 14px;text-align: center;  text-transform: none;">
                                                                        Skipped</md-button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mdl-card__actions" mdl-card--border>
                                                            <div layout="row" layout-align="space-between center">
                                                                <span style="text-align:justify; font-size:12px;">
                                                                    Source:
                                                                    <span ng-bind="elem.crawlEntityType"></span>
                                                                </span>
                                                                <span style="text-align:justify; font-size:12px;">
                                                                    <a href="{{elem.url}}" target="_blank">open in new tab</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </div>
                            </md-tab>
                        </md-tabs>
                        <div layout="row" layout-align="center center" ng-show="showProgress" style="width: 100%">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <div layout="row" layout-align="space-between center">
                        <a href="#/model" class="mdl-button">Labeled More Pages</a>
                        <md-button class="md-primary md-raised" ng-click="newSmartCrawl($event)">Start Smart Crawl</md-button>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
