<div style="padding:8px; padding-top:48px">
    <div ng-controller="modelController" layout="column">

        <section class="section--center mdl-grid mdl-grid--no-spacing" layout-align="space-between center" >
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-card__title">
                        <span class="mdl-card__title-text">
                            <!--<h4>New Deep Crawl</h4>-->
                            <h4>Label results to build the model</h4>
                        </span>
                    </div>

                    <!--/*margin-left: 27px;margin-right: 27px-->
                    <div class="mdl-card__supporting-text" layout="column" layout-align="space-between start" style="margin-bottom: 0px;margin-top: 0px;">

                    </div>

                    <!--<div class="mdl-grid portfolio-max-width" style="height: 851px" >-->
                    <div class="mdl-grid portfolio-max-width" style="height: 950px">
                        <md-tabs md-selected="selectedTabIndex" md-border-bottom md-autoselect flex="100" >
                            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.source.name}}  ({{tab.nResults}})" >
                                    <div class="tab{{$index%4}}" style="padding: 25px;" >
                                        <div layout="row" layout-align="space-between space-between" flex="100" style="width: 100%">
                                            <!--<div>-->
                                                <!--<md-checkbox-->
                                                    <!--aria-label="Select All"-->
                                                     <!--ng-checked="isChecked(tab)"-->
                                                     <!--md-indeterminate="isIndeterminate(tab)"-->
                                                     <!--ng-click="toggleAll(tab)">-->
                                                    <!--<span ng-if="isChecked(tab)">Un-</span>Select All-->
                                                <!--</md-checkbox>-->
                                            <!--</div>-->

                                            <div>
                                                34 relevant /223 not relevant /233 skipped / 1000 pending
                                            </div>
                                            <div>
                                                Showing {{tab.elems.length}} of {{tab.nResults}}
                                            </div>
                                        </div>


                                        <!--<md-content class="mdl-grid portfolio-max-width" style="height: 700px" scrolly="bottomOfPageReached(tab)">-->
                                        <md-content class="mdl-grid portfolio-max-width" style="margin-top:40px" >

                                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" style="width: 100%" ng-repeat="elem in tab.currentElem" >
                                                <div layout="row" layout-align="start end">
                                                    <div class="mdl-card__media mdl-shadow--2dp" ng-click="showAdvanced(elem, $event)" style="width: 290px">
                                                        <a href="javascript:void(0)">
                                                            <img class="article-image" ng-src="api/workspace/{{master.workspaceId}}/keywords/screenshot/{{elem._id}}" width="290" height="250" border="0" alt="">
                                                        </a>
                                                    </div>
                                                    <div layout="column" layout-align="start start" style="margin-left:30px;margin-right: 30px; width: 100%">
                                                        <div class="mdl-card__title">
                                                            <span>
                                                                <span style="font-size:20px;" ng-bind="elem.host | capitalize"></span>
                                                            </span>
                                                        </div>
                                                        <div class="mdl-card__supporting-text" layout="column" layout-align="space-between start" style="margin: 0px; padding: 16px; width: 100%">
                                                            <!--<div class="mdl-card__title-text" flex="100">-->
                                                            <div flex="100">
                                                                <div layout="column" layout-align="start start" flex="100">
                                                                    <span ng-bind="elem.title" style="font-size:16px"> </span>
                                                                </div>
                                                            </div>
                                                            <div layout="row" layout-align="space-between center" style="margin-top:40px; width: 100%">
                                                                <div layout="row" layout-align="space-between center" >
                                                                    <md-button class="md-raised" ng-click="newDeepCrawl($event)" style="  font-size: 14px;text-align: center;  text-transform: none;">
                                                                        Not relevant</md-button>
                                                                    <md-button class="md-raised" ng-click="newDeepCrawl($event)" style="  font-size: 14px;text-align: center;  text-transform: none;">
                                                                        Relevant</md-button>
                                                                </div>
                                                                <div  layout="row" layout-align="space-between center">
                                                                    <md-button class="md-raised" md-no-ink ng-click="newDeepCrawl($event)" style="  font-size: 14px;text-align: center;  text-transform: none;">
                                                                        Skip</md-button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mdl-card__actions" mdl-card--border>
                                                            <div layout="row" layout-align="space-between center">
                                                                <span style="text-align:justify; font-size:12px;">
                                                                    Source:
                                                                    <span ng-bind="elem.crawlEntityType"></span>
                                                                </span>
                                                                <span style="text-align:justify; font-size:12px;">
                                                                    <a href="{{elem.url}}" target="_blank">open in new tab</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div layout="row" layout-align="center center" ng-show="showProgress" style="width: 100%">
                                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                            </div>
                                        </md-content>
                                    </div>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <div layout="row" layout-align="space-between center">
                        <md-button class="md-primary md-raised" ng-click="newDeepCrawl($event)">Start Deep Crawl</md-button>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
