<div style="padding:8px; padding-top:48px">
    <div layout="column">

        <section class="section--center mdl-grid mdl-grid--no-spacing" layout-align="space-between center" >
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp" style="width:48%">
                <div class="mdl-card__supporting-text">
                    <h4>Add keywords</h4>
                    <p> Enter keyword for your domain and press Enter to generate an initial set of URLs.</p>
                    <form name="relevantKeywordsForm">
                        <h6>Include</h6>
                        <md-chips ng-model="relevantKeywordsObj"
                                  name="relevantKeywords"
                                  md-separator-keys="splitKeys"
                                  readonly="false"
                                  md-removable="true"
                                  md-max-chips="15"
                                  md-on-add="add($chip)"
                                  md-on-remove="remove($chip)"
                                  md-transform-chip="keywordHash($chip, null, 5)"
                        >
                        <md-chip-template>
                            <span>
                              <strong>{{$chip.word}}</strong>
                            </span>
                        </md-chip-template>
                        </md-chips>
                        <div class="errors" ng-messages="relevantKeywordsForm.relevantKeywords.$error">
                            <div ng-message="md-max-chips">Maximum number of tags reached.</div>
                        </div>
                    </form>
                    <br/>
                    <form name="irrelevantKeywordsForm">
                        <h6>Exclude</h6>
                        <md-chips ng-model="irrelevantKeywordsObj"
                                  name="irrelevantKeywords"
                                  md-separator-keys="splitKeys"
                                  readonly="false"
                                  md-removable="true"
                                  md-max-chips="maxChips"
                                  md-on-add="add($chip)"
                                  md-on-remove="remove($chip)"
                                  md-transform-chip="keywordHash($chip, null, 1)"
                        >
                        <md-chip-template>
                            <span>
                              <strong>{{$chip.word}}</strong>
                            </span>
                        </md-chip-template>
                        </md-chips>
                        <div class="errors" ng-messages="irrelevantKeywordsForm.irrelevantKeywords.$error">
                            <div ng-message="md-max-chips">Maximum number of tags reached.</div>
                        </div>
                    </form>
                    <br/>
                </div>
                <div class="mdl-card__actions">
                    <div layout="row" layout-align="space-between center">
                        <md-button class="md-primary md-raised" ng-click="fetchOpen($event)">Fetch Open</md-button>
                        <md-button class="md-primary md-raised" ng-click="fetchDark($event)">Fetch Dark</md-button>
                    </div>
                    <div>
                        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="showKeywordsProgress">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp" style="width:48%">
                <div class="mdl-card__supporting-text">
                    <h4>Add URLs</h4>
                    <div layout="row"  layout-align="space-between center">
                        <p>Enter URLs (or Onions) or import them from file</p>
                        <md-button class="md-primary md-raised" ng-click="browse()" >Browse</md-button>
                    </div>
                    <md-input-container class="md-block">
                        <!--<label>Add known URLs from the domain you want to discover</label>-->
                        <textarea ng-model="upload.urlsToAdd" max-rows="15" md-select-on-focus placeholder="i.e. https://www.google.com"></textarea>
                    </md-input-container>
                </div>
                <div class="mdl-card__actions" mdl-card--border>
                    <div layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="space-between center">
                        </div>
                        <md-button class="md-primary md-raised" ng-click="import()" >Fetch</md-button>
                    </div>
                    <div>
                        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="showAddUrlsProgress">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section ng-show="seedUrls.length>0"  class="section--center mdl-grid mdl-grid--no-spacing" layout-align="space-between center" >
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                <div class="mdl-card__supporting-text">
                    <h4>Results</h4>
                    <md-content class="mdl-grid portfolio-max-width" style="height: 700px" scrolly="bottomOfPageReached()">
                            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" ng-repeat="elem in seedUrls" >

                                <div class="mdl-card__title">
                                    <span class="mdl-card__title-text">
                                        <span style="font-size:20px;" ng-bind="elem.host | capitalize"></span>
                                    </span>
                                </div>
                                <div class="mdl-card__media" ng-click="showAdvanced(elem, $event)">
                                    <a href="javascript:void(0)">
                                        <!--<img class="article-image" ng-src="api/workspace/{{master.workspaceId}}/broadcrawl/screenshot/{{elem.id}}"  width="284" height="216" border="0" alt="">-->
                                        <img class="article-image" ng-src="api/workspace/{{master.workspaceId}}/keywords/screenshot/{{elem._id}}" width="290" height="250" border="0" alt="">
                                    </a>
                                </div>

                                <div class="mdl-card__supporting-text" style="margin:20px;margin-left:20px;margin-right:20px; width: 85%" layout="column" layout-align="space-between start">
                                    <span class="mdl-card__title-text">
                                        <span ng-bind="elem.title" style="text-align:justify; width: 240px;font-size:16px;"> </span>
                                    </span>
                                </div>
                                <div class="mdl-card__actions" mdl-card--border>
                                    <div layout="row" layout-align="space-between center">
                                        <span style="text-align:justify; font-size:12px;">
                                            Source:
                                            <span ng-bind="elem.crawlEntityType"></span>
                                        </span>
                                        <span style="text-align:justify; font-size:12px;">
                                            <a href="{{elem.url}}" target="_blank">open in new tab</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                    </md-content>
                </div>
                <div class="mdl-card__actions">
                    <div layout="row" layout-align="space-between center">
                        <!--<md-button class="md-primary md-raised" ng-click="newDeepCrawl($event)">New Deep Crawl</md-button>-->
                        <!--<md-button class="md-primary md-raised" ng-click="newSmartCrawl($event)">New Smart Crawl</md-button>-->
                          <a href="#/new-deep-crawl" class="mdl-button">Deep Crawl</a>
                          <a href="#/model" class="mdl-button">Smart Crawl</a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
