<ng-include src="'/static/partials-md/current-workspace.html'"></ng-include>



<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>Keywords</h4>
            <p> Add keywords to include and exclude relevant to the domain you want to discover</p>
            <form name="relevantKeywordsForm">
                <h6>Including</h6>
                <md-chips ng-model="relevantKeywordsObj"
                          name="relevantKeywords"
                          md-separator-keys="splitKeys"
                          readonly="false"
                          md-removable="true"
                          md-max-chips="15"
                          md-on-add="add($chip)"
                          md-on-remove="remove($chip)"
                          md-transform-chip="keywordHash($chip, null, 5)"
                >
                <md-chip-template>
                    <span>
                      <strong>{{$chip.word}}</strong>
                    </span>
                </md-chip-template>
                </md-chips>
                <div class="errors" ng-messages="relevantKeywordsForm.relevantKeywords.$error">
                    <div ng-message="md-max-chips">Maximum number of tags reached.</div>
                </div>
            </form>
            <br/>
            <form name="irrelevantKeywordsForm">
                <h6>Excluding</h6>
                <md-chips ng-model="irrelevantKeywordsObj"
                          name="irrelevantKeywords"
                          md-separator-keys="splitKeys"
                          readonly="false"
                          md-removable="true"
                          md-max-chips="maxChips"
                          md-on-add="add($chip)"
                          md-on-remove="remove($chip)"
                          md-transform-chip="keywordHash($chip, null, 1)"
                >
                <md-chip-template>
                    <span>
                      <strong>{{$chip.word}}</strong>
                    </span>
                </md-chip-template>
                </md-chips>
                <div class="errors" ng-messages="irrelevantKeywordsForm.irrelevantKeywords.$error">
                    <div ng-message="md-max-chips">Maximum number of tags reached.</div>
                </div>
            </form>
            <br/>
        </div>
        <div class="mdl-card__actions">
            <!--<a href="#" class="mdl-button">Read our features</a>-->
            <a href="#" class="mdl-button">How do we use this?</a>
        </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
        <li class="mdl-menu__item">Collapse</li>
        <li class="mdl-menu__item" disabled>Expand</li>
    </ul>
</section>


<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <i class="material-icons">play_circle_filled</i>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
            <h4>Fetch</h4>
            <p>Start gathering URLs from the main search engines to be trained.</p>
            <!--Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.-->
            <p>Select the sources:</p>
            <div flex-gt-sm="50">
                <md-checkbox ng-model="se.cb1" aria-label="Google">
                    Google
                </md-checkbox>
                <md-checkbox ng-model="se.cb2" aria-label="Bing">
                    Bing
                </md-checkbox>
                <md-checkbox ng-model="se.cb3" aria-label="Twitter">
                    Twitter
                </md-checkbox>
            </div>
        </div>
        <div class="mdl-card__actions">
            <!--<a href="#" class="mdl-button">Read our features</a>-->
            <md-button class="md-primary md-raised" ng-click="addItem()" >Run</md-button>
        </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
    </ul>
</section>



<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Filters</h4>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>

            <!--<div class="section__text mdl-cell mdl-cell&#45;&#45;10-col-desktop mdl-cell&#45;&#45;6-col-tablet mdl-cell&#45;&#45;3-col-phone">-->
            <!--<h5>Total URLs fetched</h5>-->
            <!--Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.-->
            <!--</div>-->
            <!--<div class="section__circle-container mdl-cell mdl-cell&#45;&#45;2-col mdl-cell&#45;&#45;1-col-phone">-->
            <!--<div class="section__circle-container__circle mdl-color&#45;&#45;primary"></div>-->
            <!--</div>-->

            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Current training</h5>
                Training results can be filtered according to the following predfined set:
                <div style="padding:15px">
                    <md-checkbox ng-model="relevance.cb1" aria-label="Google">
                        Relevant
                    </md-checkbox>
                    <md-checkbox ng-model="relevance.cb2" aria-label="Bing">
                        Irrelevant
                    </md-checkbox>
                    <md-checkbox ng-model="relevance.cb3" aria-label="Twitter">
                        Neutral
                    </md-checkbox>
                    <md-checkbox ng-model="relevance.cb4" aria-label="Twitter">
                        Failed
                    </md-checkbox>
                </div>

                <!--Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.-->
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Page type classification</h5>
                URL's are classified and can be filtered according to the following predefined set:
                <div style="padding:15px">
                    <md-checkbox ng-model="pageType.cb1" aria-label="Google">
                        Forum
                    </md-checkbox>
                    <md-checkbox ng-model="pageType.cb2" aria-label="Bing">
                        Blogs
                    </md-checkbox>
                    <md-checkbox ng-model="pageType.cb3" aria-label="Twitter">
                        News
                    </md-checkbox>
                    <md-checkbox ng-model="pageType.cb4" aria-label="Twitter">
                        Classified
                    </md-checkbox>
                </div>

                <!--Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.-->
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>User Defined Categories</h5>
                URL's are classified and be filtered according to tags created by the user:
                <div style="padding:15px">
                    <md-checkbox ng-model="udc.cb1" aria-label="Google">
                        Local
                    </md-checkbox>
                    <md-checkbox ng-model="udc.cb2" aria-label="Bing">
                        Offshore
                    </md-checkbox>
                    <md-checkbox ng-model="udc.cb3" aria-label="Twitter">
                        International
                    </md-checkbox>
                </div>

                <!--Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.-->
            </div>
        </div>
        <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Read our features</a>
        </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
    </ul>
</section>


<style>

    <!--&lt;!&ndash;max-width: 1174px;&ndash;&gt;-->
<!--.portfolio-max-width {-->
    <!--max-width: 1600px;-->
    <!--margin: auto;-->
<!--}-->
</style>

<section>
    <div class="mdl-grid portfolio-max-width" style="    max-width: 1600px; margin:auto;">

        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" ng-repeat="elem in seedUrls">
            <div class="mdl-card__media">
                     <!--src=" https://getmdl.io/templates/portfolio/images/example-work02.jpg" -->
                <!--<img class="article-image" -->
                        <!--src="http://thh-dd:5081/api/workspace/58c9540cd11ff3000512195d/keywords/screenshot/58c9562ab9d8210001bfc07d"-->
                     <!--border="0" alt="">-->
                <img class="article-image" border="0" alt=""
                        ng-src="api/workspace/{{workspaceId}}/keywords/screenshot/{{elem._id}}"
                />
                     <!--width="280" height="210"-->
            </div>
            <div class="mdl-card__title" layout="row" layout-align="space-between start" >
                <div layout="column">
                    <h2 class="mdl-card__title-text" ng-bind="elem.title"></h2>
                </div>
                <div layout="column">
                  <md-menu >
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                        <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                        <md-icon md-menu-origin >more_vert</md-icon>
                        <!--<i class="material-icons">more_vert</i>-->
                        <!--<i class="material-icons">face</i>-->
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="redial($event)">
                                <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                                <!--<md-icon md-menu-align-target md-svg-icon="call:phone"></md-icon>-->
                                <!--<md-icon md-menu-origin>face</md-icon>-->
                                <md-icon md-menu-align-target >open_in_new</md-icon>
                                Visit Link
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="redial($event)">
                                <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                                <md-icon md-menu-align-target >bookmark_border</md-icon>
                                <!--<md-icon md-menu-origin>face</md-icon>-->
                                Bookmark
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="redial($event)">
                                <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                                <md-icon md-menu-align-target >delete</md-icon>
                                <!--<md-icon md-menu-origin>face</md-icon>-->
                                Delete
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->

                <!--<span ng-bind="elem.desc"></span>-->
                <p style="font-size:12px; overflow: hidden;text-align: justify;">{{elem.desc | ellipsis:true:850:' ...'}}</p>
                <!--Botnets – zombies get smarter This page uses JavaScript to progressively load the article content as a user scrolls. Screen reader users, click the load entire article button to bypass dynamically loaded article content. Please note that Internet Explorer version 8.x will not be supported as of January 1, 2016. Please refer to for more information. Sign in using your ScienceDirect credentials Username Password Remember me Sign in via your institution Sign in using your ScienceDirect credentials Username Password Remember me Sign in via your institution   Direct export     Export file  RIS (for EndNote, Reference Manager, ProCite)  BibTeX  Text  RefWorks Direct Export Content   Citation Only   Citation and Abstract Article outline Show full outline Figures and tables ADVERTISEMENT , June 2006, Pages 18–20 Botnets Botnets – zombies get ...-->
            </div>



            <div class="mdl-card__actions mdl-card--border">
                <div layout="row" layout-align="space-around center" style="margin-top:10px">
                    <div layout="column" >
                        <md-radio-group ng-model="data.group1" >
                            <md-radio-button value="Relevant" aria-label="Google">
                                Relevant
                            </md-radio-button>
                            <md-radio-button value="Neutral" aria-label="Twitter">
                                Neutral
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div layout="column">
                        <md-radio-group ng-model="data.group1"  >
                            <md-radio-button value="Irrelevant" aria-label="Bing">
                                Irrelevant
                            </md-radio-button>
                            <md-radio-button value="Failed" aria-label="Twitter">
                                Failed
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <div layout="row" layout-align="space-around center" style="margin-top:10px">
                    <div layout="column" >
                        <md-checkbox ng-model="pageType.cb1" aria-label="Forum">
                            Forum
                        </md-checkbox>
                        <md-checkbox ng-model="pageType.cb2" aria-label="Blog">
                            Blogs
                        </md-checkbox>
                    </div>
                    <div layout="column">
                        <md-checkbox ng-model="pageType.cb3" aria-label="News">
                            News
                        </md-checkbox>
                        <md-checkbox ng-model="pageType.cb4" aria-label="Classified">
                            Classified
                        </md-checkbox>
                    </div>
                </div>
            </div>



            <div class="mdl-card__actions mdl-card--border">
                <div>
                    <form name="udcForm">
                        <!--<h6>User defined tags</h6>-->
                        <md-chips ng-model="elem.udcList" name="udc" readonly="false" placeholder="Tag user defined category" md-removable="true" md-max-chips="15"></md-chips>
                        <div class="errors" ng-messages="udcForm.udc.$error">
                            <div ng-message="md-max-chips">Maximum number of tags reached.</div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="mdl-card__actions mdl-card--border" layout="row" layout-align="space-between center">

                <div layout="column">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">See more</a>
                </div>
            </div>
        </div>
    </div>
</section>






<!--<section>-->
    <!--<div class="mdl-grid portfolio-max-width" >-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src="https://getmdl.io/templates/portfolio/images/example-work01.jpg" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title" layout="row" layout-align="space-between start" >-->
                <!--<div layout="column">-->
                    <!--<h2 class="mdl-card__title-text">February 2015 Hacking News Posts Archive — The Hacker News</h2>-->
                <!--</div>-->
                <!--<div layout="column">-->
                    <!--<md-menu >-->
                        <!--<md-button aria-label="Open phone interactions menu" class="md-icon-button"  ng-click="openMenu($mdMenu, $event)">-->
                            <!--&lt;!&ndash;<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>&ndash;&gt;-->
                            <!--<i class="material-icons">more_vert</i>-->
                            <!--&lt;!&ndash;<i class="material-icons">face</i>&ndash;&gt;-->
                            <!--&lt;!&ndash;<md-icon md-font-icon="phone"></md-icon>fadafadsfadfasdfadf&ndash;&gt;-->
                        <!--</md-button>-->
                        <!--<md-menu-content width="4">-->
                            <!--<md-menu-item>-->
                                <!--<md-button ng-click="redial($event)">-->
                                    <!--&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;-->
                                    <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                                    <!--&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;-->
                                    <!--Redial-->
                                <!--</md-button>-->
                            <!--</md-menu-item>-->
                            <!--<md-menu-item>-->
                                <!--<md-button ng-click="redial($event)">-->
                                    <!--&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;-->
                                    <!--<md-icon md-menu-origin md-svg-icon="call:dialpad"></md-icon>-->
                                    <!--&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;-->
                                    <!--Redial-->
                                <!--</md-button>-->
                            <!--</md-menu-item>-->

                        <!--</md-menu-content>-->
                    <!--</md-menu>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">Read more</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src="https://getmdl.io/templates/portfolio/images/example-work07.jpg" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title" layout="row" layout-align="space-between start" >-->
                <!--<div layout="column">-->
                    <!--<h2 class="mdl-card__title-text">Sunt nulla</h2>-->
                <!--</div>-->
                <!--<div layout="column">-->
                    <!--<md-menu >-->
                        <!--<md-button aria-label="Open phone interactions menu" class="md-icon-button"  ng-click="openMenu($mdMenu, $event)">-->
                            <!--&lt;!&ndash;<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>&ndash;&gt;-->
                            <!--<i class="material-icons">more_vert</i>-->
                            <!--&lt;!&ndash;<i class="material-icons">face</i>&ndash;&gt;-->
                            <!--&lt;!&ndash;<md-icon md-font-icon="phone"></md-icon>fadafadsfadfasdfadf&ndash;&gt;-->
                        <!--</md-button>-->
                        <!--<md-menu-content width="4">-->
                            <!--<md-menu-item>-->
                                <!--<md-button ng-click="redial($event)">-->
                                    <!--&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;-->
                                    <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
                                    <!--&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;-->
                                    <!--Redial-->
                                <!--</md-button>-->
                            <!--</md-menu-item>-->
                            <!--<md-menu-item>-->
                                <!--<md-button ng-click="redial($event)">-->
                                    <!--&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;-->
                                    <!--<md-icon md-menu-origin md-svg-icon="call:dialpad"></md-icon>-->
                                    <!--&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;-->
                                    <!--Redial-->
                                <!--</md-button>-->
                            <!--</md-menu-item>-->

                        <!--</md-menu-content>-->
                    <!--</md-menu>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<div layout="row" layout-align="space-around center" style="margin-top:10px">-->
                    <!--<div layout="column" >-->
                        <!--<md-radio-group ng-model="data.group1" >-->
                            <!--<md-radio-button value="Relevant" aria-label="Google">-->
                                <!--Relevant-->
                            <!--</md-radio-button>-->
                            <!--<md-radio-button value="Neutral" aria-label="Twitter">-->
                                <!--Neutral-->
                            <!--</md-radio-button>-->
                        <!--</md-radio-group>-->
                    <!--</div>-->
                    <!--<div layout="column">-->
                        <!--<md-radio-group ng-model="data.group1"  >-->
                            <!--<md-radio-button value="Irrelevant" aria-label="Bing">-->
                                <!--Irrelevant-->
                            <!--</md-radio-button>-->
                            <!--<md-radio-button value="Failed" aria-label="Twitter">-->
                                <!--Failed-->
                            <!--</md-radio-button>-->
                        <!--</md-radio-group>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--&lt;!&ndash;<div layout="row" layout-align="end center">&ndash;&gt;-->

                <!--&lt;!&ndash;<md-menu >&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button aria-label="Open phone interactions menu" class="md-icon-button"  ng-click="openMenu($mdMenu, $event)">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-icon md-menu-origin >more_vert</md-icon>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<i class="material-icons">more_vert</i>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<i class="material-icons">face</i>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-menu-content width="4">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-menu-item>&ndash;&gt;-->
                            <!--&lt;!&ndash;<md-button ng-click="redial($event)">&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-menu-align-target md-svg-icon="call:phone"></md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-icon md-menu-align-target >open_in_new</md-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;Visit Link&ndash;&gt;-->
                            <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-menu-item>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-menu-item>&ndash;&gt;-->
                            <!--&lt;!&ndash;<md-button ng-click="redial($event)">&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-icon md-menu-align-target >bookmark_border</md-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;Bookmark&ndash;&gt;-->
                            <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-menu-item>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-menu-item>&ndash;&gt;-->
                            <!--&lt;!&ndash;<md-button ng-click="redial($event)">&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-icon md-menu-align-target >delete</md-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;Delete&ndash;&gt;-->
                            <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-menu-item>&ndash;&gt;-->

                    <!--&lt;!&ndash;</md-menu-content>&ndash;&gt;-->
                <!--&lt;!&ndash;</md-menu>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src=" https://getmdl.io/templates/portfolio/images/example-work02.jpg" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title" layout="row" layout-align="space-between start" >-->
                <!--<div layout="column">-->
                    <!--<h2 class="mdl-card__title-text">Android.com website</h2>-->
                    <!--&lt;!&ndash;<h2 class="mdl-card__title-text">Sunt nulla</h2>&ndash;&gt;-->
                <!--</div>-->
                <!--<div layout="column">-->
                  <!--<md-menu >-->
                    <!--<md-button aria-label="Open phone interactions menu" class="md-icon-button"  ng-click="openMenu($mdMenu, $event)">-->
                        <!--&lt;!&ndash;<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>&ndash;&gt;-->
                        <!--<md-icon md-menu-origin >more_vert</md-icon>-->
                        <!--&lt;!&ndash;<i class="material-icons">more_vert</i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="material-icons">face</i>&ndash;&gt;-->
                    <!--</md-button>-->
                    <!--<md-menu-content width="4">-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="redial($event)">-->
                                <!--&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-icon md-menu-align-target md-svg-icon="call:phone"></md-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;-->
                                <!--<md-icon md-menu-align-target >open_in_new</md-icon>-->
                                <!--Visit Link-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="redial($event)">-->
                                <!--&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;-->
                                <!--<md-icon md-menu-align-target >bookmark_border</md-icon>-->
                                <!--&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;-->
                                <!--Bookmark-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="redial($event)">-->
                                <!--&lt;!&ndash;<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>&ndash;&gt;-->
                                <!--<md-icon md-menu-align-target >delete</md-icon>-->
                                <!--&lt;!&ndash;<md-icon md-menu-origin>face</md-icon>&ndash;&gt;-->
                                <!--Delete-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->

                    <!--</md-menu-content>-->
                <!--</md-menu>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--&lt;!&ndash;Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.&ndash;&gt;-->


                <!--Botnets – zombies get smarter This page uses JavaScript to progressively load the article content as a user scrolls. Screen reader users, click the load entire article button to bypass dynamically loaded article content. Please note that Internet Explorer version 8.x will not be supported as of January 1, 2016. Please refer to for more information. Sign in using your ScienceDirect credentials Username Password Remember me Sign in via your institution Sign in using your ScienceDirect credentials Username Password Remember me Sign in via your institution   Direct export     Export file  RIS (for EndNote, Reference Manager, ProCite)  BibTeX  Text  RefWorks Direct Export Content   Citation Only   Citation and Abstract Article outline Show full outline Figures and tables ADVERTISEMENT , June 2006, Pages 18–20 Botnets Botnets – zombies get ...-->
            <!--</div>-->

            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<div layout="row" layout-align="space-around center" style="margin-top:10px">-->
                    <!--<div layout="column" >-->
                        <!--<md-checkbox ng-model="data.cb1" aria-label="Forum">-->
                            <!--Forum-->
                        <!--</md-checkbox>-->
                        <!--<md-checkbox ng-model="data.cb1" aria-label="Blog">-->
                            <!--Blogs-->
                        <!--</md-checkbox>-->
                    <!--</div>-->
                    <!--<div layout="column">-->
                        <!--<md-checkbox ng-model="data.cb1" aria-label="News">-->
                            <!--News-->
                        <!--</md-checkbox>-->
                        <!--<md-checkbox ng-model="data.cb1" aria-label="Classified">-->
                            <!--Classified-->
                        <!--</md-checkbox>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<div layout="row" layout-align="space-around center" style="margin-top:10px">-->
                    <!--<div layout="column" >-->
                        <!--<md-radio-group ng-model="data.group1" >-->
                            <!--<md-radio-button value="Relevant" aria-label="Google">-->
                                <!--Relevant-->
                            <!--</md-radio-button>-->
                            <!--<md-radio-button value="Neutral" aria-label="Twitter">-->
                                <!--Neutral-->
                            <!--</md-radio-button>-->
                        <!--</md-radio-group>-->
                    <!--</div>-->
                    <!--<div layout="column">-->
                        <!--<md-radio-group ng-model="data.group1"  >-->
                            <!--<md-radio-button value="Irrelevant" aria-label="Bing">-->
                                <!--Irrelevant-->
                            <!--</md-radio-button>-->
                            <!--<md-radio-button value="Failed" aria-label="Twitter">-->
                                <!--Failed-->
                            <!--</md-radio-button>-->
                        <!--</md-radio-group>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<div>-->
                    <!--<form name="udcForm">-->
                        <!--&lt;!&ndash;<h6>User defined tags</h6>&ndash;&gt;-->
                        <!--<md-chips ng-model="udcList" name="udc" readonly="false" placeholder="Tag user defined category" md-removable="true" md-max-chips="15"></md-chips>-->
                        <!--<div class="errors" ng-messages="udcForm.udc.$error">-->
                            <!--<div ng-message="md-max-chips">Maximum number of tags reached.</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->

                    <!--&lt;!&ndash;<md-chips ng-model="selectedVegetables" md-autocomplete-snap&ndash;&gt;-->
                              <!--&lt;!&ndash;md-transform-chip="transformChip($chip)"&ndash;&gt;-->
                              <!--&lt;!&ndash;md-require-match="autocompleteDemoRequireMatch">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-autocomplete&ndash;&gt;-->
                                <!--&lt;!&ndash;md-selected-item="selectedItem"&ndash;&gt;-->
                                <!--&lt;!&ndash;md-search-text="searchText"&ndash;&gt;-->
                                <!--&lt;!&ndash;md-items="item in querySearch(searchText)"&ndash;&gt;-->
                                <!--&lt;!&ndash;md-item-text="item.name"&ndash;&gt;-->
                                <!--&lt;!&ndash;placeholder="Search for a vegetable">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span md-highlight-text="searchText">{{item.name}} :: {{item.type}}</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-autocomplete>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-chip-template>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>&ndash;&gt;-->
                          <!--&lt;!&ndash;<strong>{{$chip.name}}</strong>&ndash;&gt;-->
                          <!--&lt;!&ndash;<em>({{$chip.type}})</em>&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-chip-template>&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-chips>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->


            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border" layout="row" layout-align="space-between center">-->

                <!--<div layout="column">-->
                    <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">See more</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src="http://thh-dd:5081/api/workspace/583d9ccad11ff30005d95834/keywords/screenshot/583d9d5e1e9d980001d7d92e" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title">-->
                <!--<h2 class="mdl-card__title-text">Dashboard template</h2>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">Read more</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src="http://thh-dd:5081/api/workspace/583d9ccad11ff30005d95834/keywords/screenshot/583d9d5c1e9d980001d7d928" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title">-->
                <!--<h2 class="mdl-card__title-text">Text-heavy website</h2>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">Read more</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src=" https://getmdl.io/templates/portfolio/images/example-work08.jpg" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title">-->
                <!--<h2 class="mdl-card__title-text">Ex officia laborum</h2>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">Read more</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src=" https://getmdl.io/templates/portfolio/images/example-work05.jpg" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title">-->
                <!--<h2 class="mdl-card__title-text">Stand-alone article</h2>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">Read more</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src=" https://getmdl.io/templates/portfolio/images/example-work06.jpg" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title">-->
                <!--<h2 class="mdl-card__title-text">MDL website</h2>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">Read more</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="mdl-cell mdl-card mdl-shadow&#45;&#45;4dp portfolio-card">-->
            <!--<div class="mdl-card__media">-->
                <!--<img class="article-image" src=" https://getmdl.io/templates/portfolio/images/example-work09.jpg" border="0" alt="">-->
            <!--</div>-->
            <!--<div class="mdl-card__title">-->
                <!--<h2 class="mdl-card__title-text">Consequat ut quis</h2>-->
            <!--</div>-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
            <!--</div>-->
            <!--<div class="mdl-card__actions mdl-card&#45;&#45;border">-->
                <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;accent" href="portfolio-example01.html">Read more</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->



<!--</section>-->










