<ng-include src="'/static/partials-md/includes/current-workspace.html'"></ng-include>


<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div ng-init="postConstruct()"></div>
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>Known URLs</h4>
            <!--<p> Add keywords to include and exclude relevant to the domain you want to discover</p>-->
            <p>Add known URLs from the subject that you want to discover</p>
            <md-input-container class="md-block">
                <!--<label>Add known URLs from the domain you want to discover</label>-->
                <textarea ng-model="upload.urlsToAdd" max-rows="15" md-select-on-focus placeholder="i.e. http://www.google.com"></textarea>
            </md-input-container>
        </div>
        <div class="mdl-card__actions" mdl-card--border>
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="space-between center">
                    <label style="margin-right:10px">This training set is </label>
                    <md-select id="relevance-combo" ng-model="upload.relevance"  class="md-no-underline" aria-label="Relevance">
                        <md-option value="relevant" selected="selected">Relevant</md-option>
                        <md-option value="irrelevant">Irrelevant</md-option>
                        <md-option value="neutral">Neutral</md-option>
                    </md-select>
                </div>
                <md-button class="md-primary md-raised" ng-click="import()" >Import</md-button>
            </div>
        </div>
        <!--<div class="mdl-card__actions" mdl-card&#45;&#45;border>-->
            <!--<a href="#" class="mdl-button">Read our features</a>-->
            <!--&lt;!&ndash;<md-button class="md-primary md-raised" ng-click="import()" >Import</md-button>&ndash;&gt;-->
        <!--</div>-->
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
        <li class="mdl-menu__item">Collapse</li>
        <li class="mdl-menu__item" disabled>Expand</li>
        <!--<li class="mdl-menu__item">Dolor</li>-->
    </ul>
</section>






<ng-include src="'/static/partials-md/includes/filter-train-results.html'"></ng-include>


<ng-include src="'/static/partials-md/includes/train-results.html'"></ng-include>

