{% from "security/_macros.html" import render_field_with_errors, render_field %}
<!--{% include "security/_messages.html" %}-->
<html ng-app="ngAppLogin">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="lang" value="en">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Site Hound</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='lib/angular-material/1.1.3/angular-material.min.css') }}">

    <!--<link rel="stylesheet" href="https://getmdl.io/templates/text-only/styles.css">-->
    <link rel=stylesheet href="{{ url_for('static', filename='lib/mdl/1.3.0/styles.css') }}">

    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">-->
    <link rel=stylesheet href="{{ url_for('static', filename='lib/mdl/1.3.0/material.deep_purple-pink.min.css') }}">


    <link  rel=stylesheet" href="{{ url_for('static', filename='lib/angular/angular-material-data-table/0.10.9/md-data-table.min.css') }}">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css"/>-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/angular/font-awesome/4.5.0/font-awesome.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css3/sitehound.css') }}" rel="stylesheet" >




		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular-route.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular-resource.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular-animate.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular-cookies.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular-aria.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular-messages.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/1.6.3/angular-sanitize.min.js') }}"></script>






		<script src="{{ url_for('static', filename='lib/angular-material/1.1.3/angular-material.min.js') }}"></script>
		<!--<script src="{{ url_for('static', filename='lib/angular-ui/bootstrap/v0.13.4/ui-bootstrap-tpls-0.13.4.min.js') }}"></script>-->
		<!--<script src="{{ url_for('static', filename='lib/angular-ui/ng-infinite-scroll.min.js') }}"></script>-->
		<!--<script src="{{ url_for('static', filename='lib/angular/ngSilent/ngSilent.js') }}"></script>-->
		<!--<script src="{{ url_for('static', filename='lib/angular/ng-csv/ng-csv.min.js') }}"></script>-->
		<script src="{{ url_for('static', filename='lib/mdl/1.3.0/material.min.js') }}"></script>
		<script src="{{ url_for('static', filename='lib/angular/angular-material-data-table/0.10.9/md-data-table.min.js') }}"></script>
		<link href="{{ url_for('static', filename='lib/angular/angular-material-data-table/0.10.9/md-data-table.min.css') }}" rel=stylesheet>



    <base href="/">

<script>
var ngAppLogin = angular.module('ngAppLogin', ['ngMaterial'])

</script>
	<style>
		md-input-container> ul {
		  list-style-type: none;
			color:red;
		}

	</style>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base" id="popupContainer">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" scrolly="master.bottomOfPageReached()">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row" style="height:10px">
        </div>
        <div>
            <div layout="row" >
                <div flex="15">
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/sitehounds-transparent-256x182.png') }}"/>
                    </a>
                </div>
                <div flex="70" layout="row" layout-align="center center">
                    <h1>Site Hound</h1>
                </div>
                <div flex hide-sm hide-xs layout="row" layout-align="center end">
                </div>
            </div>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row" style="height:10px">
        </div>
    </header>
    <main class="mdl-layout__content" ng-cloack layout="column" layout-align="center stretch" style="display:flex">
        <div class="mdl-layout__tab-panel">
            <div class="custom-mdl-layout__tab-panel">
				<div style="padding:8px; padding-top:48px; padding-bottom:48px" layout="column">
					<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--6dp">
						<div class="mdl-card mdl-cell mdl-cell--12-col">
							<form action="{{ url_for_security('login') }}" method="POST" id="login_user_form" name="login_user_form" style="margin-bottom: 0px; width: 400px" >
								{{ login_user_form.hidden_tag() }}
								{{ render_field(login_user_form.next) }}
								<div class="mdl-card__supporting-text" style="">
									<!--<h4>Login</h4>-->
									<!--Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.-->
									<!--<md-content class="md-no-momentum">-->
										<!--<md-input-container class="md-block">-->
											<!--&lt;!&ndash; Use floating placeholder instead of label &ndash;&gt;-->
											<!--<md-icon md-font-icon="email">email</md-icon>-->
											<!--<input id="email" name="email" ng-model="email" type="email" ng-required="true"/>-->
										<!--</md-input-container>-->

										<md-input-container class="md-block">
											<md-icon md-font-icon="email" >email</md-icon>
											{{ render_field_with_errors(login_user_form.email, class="md-input", style="margin-left:30px", placeholder=" " ,type="email") }}
										</md-input-container>

										<!--<md-input-container class="md-block">-->
											<!--<md-icon md-font-icon="linear_scale">linear_scale</md-icon>-->
											<!--<input id="password" name="password" ng-model="password" type="password" placeholder="      Password" ng-required="true"/>-->
										<!--</md-input-container>-->



										<md-input-container class="md-block">
											<md-icon md-font-icon="linear_scale">linear_scale</md-icon>
											{{ render_field_with_errors(login_user_form.password, class="md-input", placeholder=" ", style="margin-left:30px" ,type="password" ) }}
										</md-input-container>
									<!--{{ render_field_with_errors(login_user_form.password) }}-->

										<!--<md-input-container style="margin: 0px">-->
											<!--<md-checkbox id="remember" name="remember"-->
														 <!--ng-model="remember"-->
													<!--aria-label="remember me">-->
													<!--Remember me-->
											<!--</md-checkbox>-->
										<!--</md-input-container>-->
										<div>
											<!--<md-icon md-font-icon="linear_scale">linear_scale</md-icon>-->
											{{ render_field_with_errors(login_user_form.remember) }}
										</div>


									<!--{{ render_field_with_errors(login_user_form.remember) }}-->

										<!--<div>-->
											<!--<md-button-->
												<!--class="md-primary md-raised"-->
												<!--ng-click="login()">-->
												<!--Login-->
											<!--</md-button>-->
										<!--</div>-->
										<!--<div layout="row" layout-align="end end">-->
											<!--<div layout="row" layout-align="space-between center"><span>&nbsp;</span>-->
											<!--</div>-->
											<!--<md-button-->
												<!--class="md-primary md-raised"-->
												<!--ng-click="login()">-->
												<!--Login-->
											<!--</md-button>-->
										<!--</div>-->
										<!--<form action="{{ url_for_security('login') }}" method="POST" id="login_user_form" name="login_user_form" style="margin-left:10px">-->
											<!--{{ login_user_form.hidden_tag() }}-->
											<!--{{ render_field_with_errors(login_user_form.email) }}-->
											<!--{{ render_field_with_errors(login_user_form.password) }}-->
											<!--{{ render_field_with_errors(login_user_form.remember) }}-->
											<!--{{ render_field(login_user_form.next) }}-->
											<!--&lt;!&ndash;{{ render_field(login_user_form.submit) }}&ndash;&gt;-->
											<!--&lt;!&ndash;<button id="submit" class="btn btn-primary" name="submit" type="submit">Login</button>&ndash;&gt;-->
												<!--&lt;!&ndash;ng-disabled='!(master.workspace.page_model.model)'&ndash;&gt;-->


										<!--</form>-->

									<!--</md-content>-->

								</div>
								<div class="mdl-card__actions mdl-card--border " layout="row" layout-align="end center">
										<!--<span style="padding:8px">-->
											<!--<a ng-href="/register" class="mdl-button">register</a>-->
										<!--</span>-->
											<!--ng-click="login()"-->
										<md-button
												type="submit"
											class="md-primary md-raised">
											Login
										</md-button>
								</div>
								<!--<div class="mdl-card__actions  mdl-card&#45;&#45;border ">-->
									<!--&lt;!&ndash;<a href="#" class="mdl-button">Read our features</a>&ndash;&gt;-->
									<!--<a ng-href="/register" class="mdl-button">register</a>-->
								<!--</div>-->

							</form>
						</div>
					</section>
				</div>
        	</div>
		</div>

    </main>
	<ng-include src="'/static/partials-md/footer-mini-md.html'"></ng-include>

</div>


</body>
</html>
